.container {
	margin: 0 auto;
	max-width: 1220px;
	padding: 0 10px;
}

body {
	font-family: 'Roboto Condensed', Tahoma, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.3;
	letter-spacing: 0.6px;
	color: #242121;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.title {
	margin: 0 auto;
	text-align: center;
	text-align: center;
	font-family: 'Raleway', Tahoma, sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 1.16;
	color: #01353E;
	text-transform: uppercase;
	position: relative;
}

.title::after {
	content: "/";
	position: absolute;
	top: 8px;
	font-size: 72px;
	line-height: 1.18;
	color: #00B2A0;
}

.header__content {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: transparent;
	transition: background-color .3s ease;
}

.header__block {
	display: flex;
	align-items: center;
	padding-top: 35px;
}

.menu {
	margin-left: 185px;
}

.burger {
  display: none;
  justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: center;
  background: none;
  position: relative;
  transition: all 0.3 ease-in;
}

.burger__item {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.burger__item span,
.burger__item::before,
.burger__item::after {
	display: block;
  height: 2px;
  width: 30px;
  background-color: #ffffff;
  margin: 0 auto;
  position: absolute;
  transition: all 0.3s ease;
}

.burger__item::before,
.burger__item::after {
  content: '';
}

.burger__item::before {
  transform: translateY(-7px);
}

.burger__item::after {
	transform: translateY(7px);
}

.menu--active .burger__item::before {
  transform: rotate(45deg);
}

.menu--active .burger__item::after {
  transform: rotate(-45deg);
}

.menu--active .burger__item span {
  transform: scale(0);
}

.menu__list {
	display: flex;
}

.menu__item:not(:first-child){
	margin-left: 43px;
}

.menu__link {
	padding: 0 1px 5px;
	font-weight: normal;
	font-size: 24px;
	line-height: 1.16;
	color: #ffffff;
	border-bottom: 1px solid transparent;
	outline-color: #00B2A0;
	transition: border-color .3s;
}

.menu__link:hover {
	border-color: #00B2A0;
}

.header__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	padding-top: 98px;
}

.header__title {
	margin-top: auto;
	margin-bottom: 6%;
	max-width: 655px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 200px;
	line-height: 1.175;
	color: #0D302C;
	text-align: center;
}

.header__title span {
	display: block;
	text-align: center;
	font-family: 'Roboto Condensed', Tahoma, sans-serif;
	text-transform: none;
	font-weight: normal;
	font-size: 24px;
	line-height: 1.16;
	color: #000000;
}

.header__icon {
	margin-top: auto;
	margin-bottom: 98px;
	width: 20px;
	height: 69px;
	background-image: url("../images/header-icon.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.about {
	padding: 189px 0 150px;
}

.about__title {
	margin-bottom: 98px;
}

.about__text {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about__text p {
	max-width: 490px;
	min-height: 87px;
}

.about__text p:not(:last-child) {
	margin-bottom: 30px;
}

.profit {
	background-color: #F8F8F8;
	padding: 200px 0 173px;
}

.profit__title {
	margin-bottom: 101px;
}

.profit__items {
	display: flex;
	justify-content: space-between;
	flex: 1 0 33.333%;
	flex-wrap: wrap;
	margin-bottom: 110px;
}

.profit__item {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	max-width: 395px;
	min-width: 210px;
	padding: 0 15px;
}

.profit__item:not(:first-child) {
	padding-left: 15px;
}

.profit__heading {
	text-transform: uppercase;
	position: relative;
	padding-left: 60px;
	min-height: 62px;
	max-width: 220px;
	font-weight: normal;
	font-size: 24px;
	line-height: 1.16;
}

.profit__heading::before {
	content: "";
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
}

.profit__heading--icon1 {
	padding-top: 13px;
}

.profit__heading--icon1::before {
	background-image: url("../images/sun-icon.svg");
}

.profit__heading--icon2::before {
	background-image: url("../images/airplane-icon.svg");
}

.profit__heading--icon3::before {
	background-image: url("../images/surfer-icon.svg");
}

.profit__box {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.profit__stat {
	max-width: 385px;
	margin-bottom: 10px;
}

.profit__stat::before {
	content: "";
	display: inline-block;
	height: 15px;
	background-repeat: no-repeat;
	background-size: contain;
}

.profit__stat--icon-1::before {
	width: 200px;
	background-image: url("../images/wave-icon-85.svg");
}

.profit__stat--icon-2::before {
	width: 247px;
	background-image: url("../images/wave-icon-95.svg");
}

.profit__stat--icon-3::before {
	width: 293px;
	background-image: url("../images/wave-icon-99.svg");
}

.profit__stat span {
	font-weight: normal;
	font-size: 24px;
	padding-left: 10px;
}

.profit__stat p {
	margin-top: -6px;
}
.profit__text {
	width: 50%;
}

.profit__text p:not(:last-child) {
	margin-bottom: 30px;
}

.motivation {
	padding: 200px 0 365px;
	position: relative;
}

.motivation__inner {
	max-width: 43%;
  display: inline-block;
}

.motivation__title {
	margin-right: auto;
	margin-bottom: 100px;
	text-align: left;
}

.motivation__text p:not(:last-child) {
	margin-bottom: 30px;
}

.motivation__bg {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	margin-left: auto;
	width: 50%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: auto 850px;
	background-position: top right;
}

.gallery__title {
	margin-bottom: 205px;
}

.gallery__top {
	display: flex;
	margin-bottom: 40px;
}

.gallery__btn {
	font-weight: normal;
	font-size: 24px;
	text-transform: uppercase;
	padding: 2px 0;
	outline-color: #00B2A0;
	border-bottom: 1px solid transparent;
	transition: border-color .3s;
}

.gallery__btn:not(:last-child) {
	margin-right: 20px;
}

.gallery__btn:hover {
	border-color: #00B2A0;
}

.mixitup-control-active {
	color: #00B2A0;
}

.gallery__photos {
	display: flex;
	flex-wrap: wrap;
	margin-right: -40px;
	margin-bottom: 10px;
}

.gallery__photo {
	position: relative;
	z-index: 1;
	margin-bottom: 40px;
}

.gallery__photo {
	margin-right: 40px;
} 

.gallery__fade {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	display: block;
	background-color: rgba(51, 51, 51, 0);
	border-bottom: 1px solid transparent;
	transition: background-color .3s;
}

.gallery__photo:hover .gallery__fade {
	background-color: rgba(51, 51, 51, 0.7);
}

.btn-more {
	display: block;
	padding: 20px 91px;
	max-width: 350px;
	margin: 0 auto 200px;
	border: 1px solid #C4C4C4;
	font-weight: normal;
	font-size: 24px;
	text-transform: uppercase;
	transition: background-color .3s;
}

.btn-more:hover {
	background-color: #f3f2f2;
}

.blockquote {
	background-color: #F8F8F8;
	padding: 81px 0 62px;	
}

.blockquote p {
	margin: 0 auto;
	max-width: 582px;
	text-align: center;
	font-style: italic;
	font-weight: normal;
	font-size: 36px;
	line-height: 1.11;
	position: relative;
}

.blockquote__author {
	position: absolute;
	bottom: -18px;
	right: -24%;
	padding-right: 10px;
	display: block;
	font-style: italic;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.3;
}

.video {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 219px 0 200px;
	transition: filter .3s;
}

.video:hover svg #play-icon {
	fill: #454747;
}

.video:hover {
	filter: brightness(80%);
	display: flex;
	justify-content: center;
}

.stat {
	display: flex;
	justify-content: center;
	margin-bottom: 198px;
}

.stat__number {
	text-align: center;
}

.stat__number:not(:last-child) {
	margin-right: 100px;
}

.stat__number span {
	display: block;
	font-weight: bold;
	font-size: 64px;
	line-height: 1.17;
	color: #01353E;
	margin-bottom: 7px;
}

.blog {
	padding-bottom: 200px;
}

.blog__title {
	margin-bottom: 229px;
}

.slider__item {
	display: block;
	max-width: 100%;
	height: 800px;
	background-repeat: no-repeat;
	background-size: cover;
}

.slider__inner {
	height: 800px;
	position: relative;
}

.slider__content {
	position: absolute;
	top: 39%;
	right: 0;
	z-index: 2;
	max-width: 600px;
	color: #ffffff;
}

.slider__title {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 48px;
	line-height: 1.17;
}

.slider__subtitle {
	font-weight: 300;
}

.slick-dots {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 77px;
	left: 50%;
	transform: translateX(-50%);
}

.slick-dots li:not(:last-child) {
	margin-right: 15px;
}

.slick-dots button {
	width: 15px;
	height: 15px;
	background-color: #fff;
	border-radius: 50%;
	font-size: 0;
	outline-color: #00B2A0;

	transition: background-color .3s ease;
}

.slick-dots button:hover {
	background-color: #00B2A0;
}

.slick-active button {
	background-color: #00B2A0;
}

.team {
	padding-bottom: 184px;
}

.team__title {
	margin-bottom: 212px;
}

.team__items {
	display: flex;
	flex-wrap: wrap;
}

.team__item {
	color: #242121;
	text-align: center;
}

.team__item:not(:last-child) {
	margin-right: 105px;
	padding-bottom: 20px;
}

.team__img {
	margin-bottom: 25px;
	width: 100%;
}

.team__name {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
}

.team__position {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.29;
}

.pricing {
	background-color: #F8F8F8;
	padding: 200px 0 180px;
}

.pricing__title {
	max-width: 374px;
	margin-bottom: 212px;
}

.pricing__items {
	display: flex;
	flex-wrap: wrap;
}

.pricing__item {
	display: flex;
	flex-direction: column;
	height: 577px;
	padding: 45px 30px;
	width: 100%;
	max-width: 360px;
	background-color: #ffffff;
	line-height: 1.11;
	font-weight: normal;
}

.pricing__item:not(:last-child) {
	margin-right: 60px;
	margin-bottom: 20px;
}

.pricing__heading {
	margin-bottom: 58px;
	font-size: 36px;
	color: #01353E;
	text-align: center;
}

.pricing__features {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font-size: 14px;
	line-height: 1.3;
}

.pricing__features li:not(:last-child) {
	margin-bottom: 20px;
}

.pricing__price {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	font-size: 36px;
	color: #01353E;
}

.pricing__price span {
	font-size: 18px;
	line-height: 1.22;
	margin-left: 5px;
}

.geo {
	display: flex;
	justify-content: center;
	padding: 200px 15px;
}

.geo__map {
	width: 100%;
	max-width: 1473px;
}

.contact {
	font-weight: normal;
	color: #242121;
}

.contact__title {
	margin-bottom: 220px;
	/* max-width: 470px; */
}

.contact__inner {
	display: flex;
	flex-wrap: wrap;
}

.contact__form {
	width: 47%;
	margin-right: 31px;
}

.form__input {
	margin-bottom: 14px;
	padding: 18px 10px;
}

.form__input, .form__text {
	width: 100%;
	border-bottom: 2px solid #DADADA;
	outline-color: #00B2A0;
}

.form__text {
	margin-top: 21px;
	margin-bottom: 60px;
	min-height: 176px;
	padding: 18px 10px;
}

.form__input::placeholder, .form__text::placeholder {
	max-width: 260px;
	font-weight: normal;
	font-size: 18px;
	line-height: 1;
	color: #00B2A0;
}

.contact__btn {
	display: flex;
  justify-content: center;
	padding: 20px 111px;
	font-weight: normal;
	font-size: 24px;
	color: #242121;
	border: 1px solid #C4C4C4;
	text-transform: uppercase;	
	background-color: #ffffff;
	transition: background-color .3s;
}

.contact__btn:hover {
	background-color: #f3f2f2;
}

.contact__aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	margin-top: 17px;
	background-color: #F8F8F8;
	padding: 49px 0 71px 52px;
	font-weight: normal;
	font-size: 24px;
	line-height: 1.25;
}

.contact__wrapper {
	margin-bottom: 20px;
}
.phone {
	transition: color .3s;
}

.phone:hover {
	color: #00B2A0;
}

.phone, .contact__aside p {
	max-width: 327px;
}

.social {
	padding: 200px 10px 193px;
	margin: 0 auto;
	text-align: center;
}

.social__link {
	font-size: 24px;
	text-transform: uppercase;
	transition: color .3s;
}

.social__link:hover {
	color: #00B2A0;
}

.social__link:not(:last-child) {
	margin-right: 9px;
}

.footer {
	padding: 68px 0;
	text-align: center;
	background-color: #00B2A0;
}

.logo__img {
	display: inline-block;
}

@media (max-width: 1024px) {
	.container {
		width: 82%;
		max-width: 950px;
	}

	.header__block {
		justify-content: space-between;
		padding: 35px 0 0 0;
	}

	.menu {
		margin-left: 25px;
	}

	.menu__item:not(:first-child) {
		margin-left: 30px;
	}

	.title {
		margin-bottom: 70px;
	}

	.title::after {
		display: none;
	}

	.header__title {
		font-size: 175px;
	} 

	.section {
		padding: 100px 0;
	}

	.about__text p {
    max-width: 45%;
		margin-right: 20px;
	}

	.gallery__top, .gallery__photos {
		justify-content: center;
	}

	.gallery__photo {
    margin-right: 30px;
		margin-bottom: 30px;
	}

	.btn-more {
		margin-bottom: 70px;
	}

	.stat {
		margin-bottom: 0;
	}

	.team__items, .pricing__items {
		justify-content: space-between;
	}

	.team__item {
		width: 31%;
	}

	.team__item:not(:last-child), .pricing__item:not(:last-child)  {
		margin-right: 0;
	}

	.pricing__item {
		width: 31%;
	}
}
 
@media (max-width: 991px) {
	.section {
    padding: 70px 0;
	}
	.burger, .header__block {
		display: flex;
	}

	.logo, .burger {
		position: relative;
		z-index: 2;
	}

	.logo__img {
		max-width: 65%;
	}

	.menu__list {
		transform: translateY(-200%);
		padding: 90px 0 8%;
		transition: transform .3s ease;
	}

	.menu__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		z-index: 1;
		text-align: center;
		background-color: #01353E;
		min-height: 100vh;
	}

	.menu__item {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex: 1 0 40px;
	}

	.menu__link {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
		padding: 0;
	}

	.menu__link:hover {
		background-color: #004a57;
	}
	.menu__item:not(:first-child) {
    margin-left: 0;
	}

	.menu--active .menu__list {
		transform: translateY(0%);
	}

	.header__title {
		font-size: 110px;
	}

	.header__title span {
		font-size: 22px;
	}

	.header__icon {
		margin-bottom: 5%;
		max-height: 90px;
		height: 50%;
	}

	.about__title {
		max-width: 78%;
	}

	.about__text p:last-child {
    margin-bottom: 0;
	}

	.profit__item:not(:first-child) {
		margin-top: 50px;
		padding-left: 0;
	}

	.profit__item {
		min-width: 100%;
		padding: 0;
	}

	.profit__box {
		margin: 0 auto;
		justify-content: center;
	}

	.profit__wrap {
    width: auto;
		margin-bottom: 50px;
	}

	.profit__text {
    width: auto;
	}

	.motivation__bg {
		display: none;
	}

	.motivation__inner {
    max-width: 100%;
	}

	.blockquote__author {
   right: 0;
	}

	.pricing__items {
		flex-direction: column;
		align-items: center;
	}

	.pricing__item {
		align-items: center;
		width: 60%;
		flex: 1 1 360px;
		height: auto;
	}

	.pricing__price {
		margin-top: 20px;
	}

	.contact__form {
		width: 100%;
		margin-right: 0;
	}

	.social {
		padding: 40px 10px 0;
	}
	
}

@media (max-width: 768px) {
	.container {
		width: 82%;
		max-width: 700px;
	}

	.logo__img {
		max-width: 65%;
	}

	.title {
		font-size: 30px;
		margin-bottom: 50px;
	}

	.header__title {
		line-height: 1;
	}

	.about__text p {
		max-width: 100%;
		min-height: auto;
	}

	.profit__items {
		margin-bottom: 50px;
	}

	.btn-more {
		margin-bottom: 0;
	}

	.blockquote p {
		font-size: 24px;
	}

	.gallery__photos {
		margin-right: -30px;
	}

	.gallery__btn {
		font-size: 20px;
	}

	.video {
		margin: 40px 0;
		height: 300px;
	}

	.stat {
		justify-content: space-around;
	}

	.stat__number:not(:last-child) {
		margin-right: 0;
	}
	.stat__number span {
    font-size: 40px;
	}
}

@media (max-width: 575px) {
	.header__block {
		padding-top: 20px;
	}

	.menu__list {
    padding-top: 70px;
	}

	.header__icon {
		max-height: 70px;
		height: 50%;
		background-size: auto 63px;
	}

	.header__title {
		font-size: 70px;
	}

	.header__title span {
		font-size: 16px;
		max-width: 230px;
	}

	.title {
    font-size: 24px;
    margin-bottom: 25px;
	}

	.section, .blockquote, .footer {
  	padding: 40px 0;
	}

	.about__title {
		max-width: 83%;
	}

	.about__text p:not(:last-child), .profit__wrap, .gallery__photo {
    margin-bottom: 20px;
	}

	.profit__heading {
		font-size: 20px;
	}

	.profit__item:not(:first-child) {
    margin-top: 20px;
	}
	.profit__stat--icon-1::before {
		width: 150px;
	}

	.profit__stat--icon-2::before {
		width: 193px;
	}

	.profit__stat--icon-3::before {
		width: 243px;
	}

	.gallery__top {
		flex-direction: column;
	}

	.gallery__btn:not(:last-child), .gallery__photos, .gallery__photo {
    margin-right: 0;
	}

	.btn-more {
		margin-bottom: 0;
		font-size: 18px;
	}

	.video {
		margin: 40px 0;
		height: 200px;
	}

	.video svg {
		height: 40px;
	}

	.stat {
		flex-wrap: wrap;
	}

	.stat__number {
		width: 100%;
	}

	.stat__number span {
    display: inline-block;
	}

	.stat__number span {
    font-size: 25px;
	}

	.slider__title {
		font-size: 26px;
	}

	.slider__subtitle {
		width: 60%;
	}

	.slider__item, .slider__inner {
		height: 400px;
	}

	.slick-dots {
		bottom: 20px;
	}

	.team__item {
		width: 100%;
	}

	.pricing__item {
		width: 97%;
	}

	.contact__btn {
		max-width: 300px;
		margin: 0 auto;
	}
	.contact__aside {
		font-size: 20px;
		padding: 30px 20px;
	}

	.social__link {
    font-size: 18px;
	}
}
